body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    }
.header {
    padding: 80px;
    font-display: #331233 ;
    background-color: rgba(190, 14, 14, 0.133);
    
}